.DS_Store
.ipynb_checkpoints/
Master_Relation_Pair_First_Words_Counts.ipynb
RACE.tar.gz
RACE/
RACE_texts/
Untitled.ipynb
Untitled1.ipynb
connectives.zip
coref_input.txt
coref_output.xml
extract_texts.ipynb
feng-hirst-rst-parser/
nltk-2.0b8/
nltk-2.0b9/
output/
parsed/
pdtb-parser/
pdtb_col_names.txt
pdtb_parse.ipynb
project/.DS_Store
project/.ipynb_checkpoints/
project/aux/.ipynb_checkpoints/
project/statements/
project/statements_2/
relation_pair_text_percentages.xlsx
stanford-corenlp-full-2018-10-05/
statements/
tmp
tmp.txt
